.warning {
	border: 5px solid red;
	padding: 2px;
	width: fit-content;
	color: red;
}

.instruction{
	color: blue;
}

.blue-box {
	margin: 2px;
	padding: 2px;
	border: 2px solid blue;
	width: fit-content;
}


img {
	height: auto;
	width: 500px;
}