* {
	
	/* text-align: center; */
	font-family: Roboto, Georgia, 'Times New Roman', Times, serif
}

body { 
	margin: auto;
}

.hero a {
	text-decoration: none;
}

.warning {
	border: 5px solid red;
	padding: 2px;
	width: fit-content;
	color: red;
}

.instruction{
	color: black;
	border: 2px solid brown;
	background-color: gold;
		
}

.blue-box {
	margin: 2px;
	padding: 2px;
	border: 2px solid blue;
	width: fit-content;
	color: blue;
}

.introbox{
	border: 2px dashed green;
	background-color: aqua;
	display: flex;
	justify-content: space-between;
	
}

.introbox .info{
	margin: 8px;
	border: 2px solid black;
	padding: 6px;
}

img {
	height: auto;
	width: auto;
}

/* this is for the fcc project */

.hero {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	gap: 50px;
	justify-content: flex-start;
	size: 18px;
}

.hero a{
	color: #F9FAF8;
}

.hero .header-logo {
	size: 24px;
	flex-grow: 1;
	flex-direction: column;
	margin-left: 50px;
}

.hero button{
	background-color: #1F2937;
	border: 0px;
	padding-right: 50px;
}

.hero .box {
	display: block;
	flex: 1 1 auto;
	padding: 50px;
}

.hero .main-text{
	font-weight: 900; font-size: 48px;
}

.hero .box .main-text {
	font-size: 48px;
}

.hero .box button {
	font-size: 18px;
	padding: 8px;
	background-color: #3882F6;
	border-style: dashed;
	
}

.hero img{
	width: 500px;
}

/* about file */

.infobox {
	display: flex;
	flex: 1 1 auto;
	gap: 50px;
	width: 500px;
	margin: 50px;
	border-radius: 7px;
	
	border: 2px lightblue dashed; 
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 36px;;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	margin: 20px;
}

.imgdisplay {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}

.imgdisplay .imgbox {
	display: flex;
	flex: 1 1 auto;
	flex-grow: 1;
	gap: 50px;
	flex-basis: 20px;
	height: 70px;
	margin: 25px
}

.imgdisplay .imgbox img{
	display: flex;
	flex: 1 1 auto;
	flex-grow: 1;
	width: 50px;
	height: 50px;
	align-items: center;
}